*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Didact Gothic", Roboto, system-ui, Tahoma, sans-serif;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  line-height: 1.5;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: bisque;
  background-color: #2c0054;
  line-height: 1.5;
  padding: 1rem;
  border: 2px solid bisque;
  border-radius: 10px;
  margin: 1rem;
}
a:hover, a:active {
  box-shadow: 0 0 30px inset #b40780;
  animation-name: light;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes light {
  5% {
    box-shadow: none;
  }
  10% {
    box-shadow: 0 0 30px inset #b40780;
  }
  11% {
    box-shadow: none;
  }
  14% {
    box-shadow: 0 0 30px inset #b40780;
  }
  17% {
    box-shadow: none;
  }
  19% {
    box-shadow: 0 0 30px inset #b40780;
  }
  70% {
    box-shadow: 0 0 30px inset #b40780;
  }
  76% {
    box-shadow: none;
  }
  77% {
    box-shadow: 0 0 30px inset #b40780;
  }
}
@media (min-width: 1600px) {
  a {
    font-size: 2.5rem;
  }
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 7px black;
}
@media (min-width: 1600px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 7px black;
}
@media (min-width: 1600px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 7px black;
}
@media (min-width: 1600px) {
  h3 {
    font-size: 3.3rem;
  }
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 1600px) {
  p {
    font-size: 2.5rem;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin-bottom: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.parallax {
  min-height: 100vh;
}
.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__container {
  text-transform: uppercase;
  text-shadow: 2px 2px 7px black;
  position: relative;
  z-index: 2;
  margin: 3rem auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
@media (max-width: 767px) {
  .parallax__container {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}
.parallax__label {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  letter-spacing: 6px;
  align-items: center;
  margin-left: 2rem;
  width: 80%;
}
@media (min-width: 1600px) {
  .parallax__label {
    font-size: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .parallax__label {
    width: 100%;
  }
}
.parallax__label::before {
  flex: 0 0 2rem;
  content: "";
  margin-right: 2rem;
  height: 1px;
  background-color: white;
}
.parallax__title {
  display: flex;
  font-size: 2.5rem;
  letter-spacing: 6px;
  margin-left: 3rem;
  width: 80%;
}
@media (min-width: 1600px) {
  .parallax__title {
    font-size: 3.6rem;
  }
}
@media (max-width: 1100px) {
  .parallax__title {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .parallax__title {
    font-size: 1.2rem;
    margin: auto;
  }
}
.parallax__images {
  position: absolute;
  width: 115%;
  height: 150%;
  top: -20%;
  left: -5%;
  z-index: 1;
}
.parallax__images--item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__images--item .item__sky,
.parallax__images--item .item__mountains,
.parallax__images--item .item__forest {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__images--item .item__sky {
  background-image: url("./images/1.jpg");
  filter: brightness(80%);
}
.parallax__images--item .item__mountains {
  background-image: url("./images/2.png");
  top: -5%;
  z-index: 2;
  filter: drop-shadow(0 -5px 5px #eaadfe);
}
@media (max-aspect-ratio: 3/2) {
  .parallax__images--item .item__mountains {
    top: -10%;
  }
}
.parallax__images--item .item__forest {
  background-image: url("./images/3.png");
  top: -10%;
  z-index: 3;
  filter: brightness(80%);
}
@media (max-aspect-ratio: 3/2) {
  .parallax__images--item .item__forest {
    top: -20%;
  }
}

.content__container {
  position: relative;
  z-index: 5;
  background-color: #2c0054;
  text-align: center;
}
.content__container:first-of-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, transparent 50%, #2c0054 100%);
  transform: translateY(-100%);
  pointer-events: none;
}
.content__container:last-of-type {
  background: url("./images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.content__title {
  margin-bottom: 2rem;
}
.content__stack {
  width: 90%;
}
.content__stack .stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content__stack .stack-icons svg {
  padding: 1rem;
  width: 8rem;
}
.content__works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.content__works .my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content__works .my-work .my-work__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .content__works .my-work .my-work__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content__works .my-work .my-work__item .image {
  width: 50%;
  position: relative;
}
.content__works .my-work .my-work__item .image::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 35px;
  z-index: -1;
  top: -0.7em;
  left: -0.7em;
  width: calc(100% + 1.5rem);
  height: calc(100% + 1rem);
  background: linear-gradient(45deg, #337eff, #1b13ff, #4c06cf, #8f06cf, #dd37f6, #ff007b);
  background-size: 200%;
  animation: animatedborder 3s ease-in-out infinite;
}
@keyframes animatedborder {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
@media (max-width: 767px) {
  .content__works .my-work .my-work__item .image {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .content__works .my-work .my-work__item .image {
    width: 100%;
  }
}
.content__works .my-work .my-work__item .image img {
  width: 100%;
  border-radius: 30px;
}
.content__works .my-work .my-work__item .description {
  width: 50%;
}
@media (max-width: 767px) {
  .content__works .my-work .my-work__item .description {
    width: 100%;
  }
}
.content__works .my-work .my-work__item .description .stack-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__works .my-work .my-work__item .description .stack-icons svg {
  padding: 0 1rem;
  width: 5rem;
}
.content__works .my-work .my-work__item .description p:last-of-type {
  width: 90%;
  font-size: 1rem;
}
@media (min-width: 1600px) {
  .content__works .my-work .my-work__item .description p:last-of-type {
    font-size: 2.5rem;
  }
}
.content__works .my-work .my-work__item .description .links {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .content__works .my-work .my-work__item .description .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .content__contact {
    flex-direction: column;
    justify-content: center;
  }
}
.content__contact img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 5px solid #eaadfe;
}
@media (max-width: 767px) {
  .content__contact img {
    width: 80%;
  }
}
.content__contact div {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .content__contact div {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */