@import "./normalize";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.parallax {
  min-height: 100vh;

  &__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__container {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    position: relative;
    z-index: 2;
    margin: 3rem auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

    @media (max-width: 767px) {
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
  }

  &__label {
    display: flex;
    width: max-content;
    font-size: 1rem;
    letter-spacing: 6px;
    align-items: center;
    margin-left: 2rem;
    width: 80%;

    @media (max-width: 1100px) {
      width: 100%;
    }

    &::before {
      flex: 0 0 2rem;
      content: "";
      margin-right: 2rem;
      height: 1px;
      background-color: #fff;
    }
  }

  &__title {
    display: flex;
    font-size: 2.5rem;
    letter-spacing: 6px;
    margin-left: 3rem;
    width: 80%;

    @media (max-width: 1100px) {
      width: 100%;
    }

    @media (max-width: 767px) {
      font-size: 1.2rem;
      margin: auto;
    }
  }

  &__images {
    position: absolute;
    width: 115%;
    height: 150%;
    top: -20%;
    left: -5%;
    z-index: 1;

    &--item {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .item__sky,
      .item__mountains,
      .item__forest {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .item__sky {
        background-image: url("./images/1.jpg");
      }

      .item__mountains {
        background-image: url("./images/2.png");
        top: -5%;
        z-index: 2;
        filter: drop-shadow(0 -5px 5px #eaadfe);
        @media (max-aspect-ratio: 3/2) {
          top: -10%;
        }
      }

      .item__forest {
        background-image: url("./images/3.png");
        top: -10%;
        z-index: 3;
        filter: brightness(70%);

        @media (max-aspect-ratio: 3/2) {
          top: -20%;
        }
      }
    }
  }
}

.content {
  &__container {
    position: relative;
    z-index: 5;
    background-color: #400a51;
    text-align: center;

    &:first-of-type::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 200px;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, transparent 50%, #400a51 100%);
      transform: translateY(-100%);
      pointer-events: none;
    }

    &:last-of-type {
      background: url("./images/1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__stack {
    width: 90%;

    .stack-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      svg {
        padding: 1rem;
        width: 8rem;
      }
    }
  }

  &__works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;

    .my-work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .my-work__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .image {
          width: 50%;

          @media (max-width: 767px) {
            width: 100%;
          }

          img {
            width: 100%;
            border-radius: 30px;
            border: 3px solid #a91d7f;

            @media (max-width: 767px) {
              width: 90%;
            }
          }
        }

        .description {
          width: 50%;

          @media (max-width: 767px) {
            width: 100%;
          }

          .stack-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            svg {
              padding: 0 1rem;
              width: 5rem;
            }
          }

          p:last-of-type {
            width: 90%;
            font-size: 1rem;
          }

          .links {
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 767px) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  &__contact {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      border: 5px solid white;

      @media (max-width: 767px) {
        width: 80%;
      }
    }

    div {
      width: 30%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 767px) {
        width: 80%;
      }
    }
  }
}
